
<% beer = @beer
 %>


<!-- fix: use beer-key  -- add to css -->
<span class='brewery-key'><%= beer.key %></span>

<h3 style='margin-top: 0;'>
  <%= beer.title %>
  ,
  <%= beer.bookmarks.where(yes:true).count %>  +1s,
  <%= beer.drinks.count %> Ratings

  ||
  <%= link_to_country( beer.country, flag: true ) %>
</h3>



<% if signed_in? %>
<p>
  <%= link_to "Add", add_beer_to_user_path( beer.id, current_user_id ), class: 'btn' %>
</p>
<% end %>


<p>
    <!-- todo ? move synonyms up to header ???
     -->
<% if beer.synonyms.present? %>
   <%= beer.synonyms %> /
<% end %>
     
<% if beer.abv.present? %>
  Alk. <%= beer.abv %>
<% else %>
  -
<% end %>
  %
    
<% if beer.plato.present? %>
  &bull; <%= beer.plato %>° Plato
<% end %>


<% if beer.tags.count > 0 %>
  /
  <%= render_tags( beer.tags ) %>
<% end %>

</p>



<% if beer.brewery.present? %>
<p>
 By  <%= link_to_brewery( beer.brewery ) %> |
     <%= beer.brewery.founded %> ||
     <%= beer.brewery.address %>
</p>
<% else %>
  <!-- nothing -->
<% end %>



<h3><%= beer.bookmarks.where(yes:true).count %>  +1s</h3>

<p>
<% beer.bookmarks.where(yes:true).each_with_index do |bookmark,i| %>
  <% if i > 0 %>
    &bull;
  <% end %>
  <%= link_to bookmark.user.name, user_path( bookmark.user.id ) %>
<% end %>
</p>

<h3><%= beer.drinks.count %> Ratings</h3>

<% beer.drinks.each do |drink| %>

<p>
 <%= link_to drink.user.name, user_path( drink.user.id ) %>
   -
  <span class='drink-rating'>
     <%= drink.rating %>
   </span>

   <span class='drink-comments'>
     <%= drink.comments %>
    </span>
   /
   <span class='drink-place'>
     <%= drink.place %>
   </span>
</p>

<% end %>




<hr>
<% if beer.brewery.present? %>
<p>
  <% beer.brewery.beers.order(:key).each_with_index do |beer,i| %>
       <% if i > 0 %>
         &bull;
       <% end %>
       <%= link_to_beer( beer ) %>
  <% end %>
</p>
<% end %>


<hr>
<%= render_world_tree( beer ) %>

