<% city    = @city
   region  = @city.region
   country = @city.country
 %>

<h3>
<%= image_tag_for_country( country, size: '64x64' ) %>

<!-- fix: use full_title e.g. is title (code) -->

<%= city.title %>

  ›

  <%= link_to_region(region) %>

  ›
  
  <%= link_to_country(country) %>
  (<%= country.code %>)
  -
 <%= city.beers.count %> Beers,
 <%= city.breweries.count %> Breweries
</h3>


<table>

 <!-- fix: use partial ???  -->

   <% city.breweries.order( :key ).each do |brewery| %>
    <tr>
      <td style='vertical-align: baseline;'>
        <%= link_to brewery.title, short_brewery_path( brewery ) %>
   
          | <%= brewery.founded %>
          <%= render_brewery_tags( brewery ) %>
          <br>
          <span class='city-count'>
          <%= brewery.address %>
          </span>
      </td>
      <td style='vertical-align: baseline;'>
        <span class='city-count'>
          <% if brewery.web.present? %>
            <%= link_to brewery.web, "http://#{brewery.web}" %>
          <% end %>
        </span>
      </td>
      <td style='vertical-align: baseline;'>
        <%= render_beers( brewery.beers ) %>
      </td>
    </tr>
   <% end %><!-- each brewery -->


</table>

<!-- add links to all cities here -->
<hr>


<!-- note: add cities w/ breweries only -->
<p>
<% cities_count = 0
   region.cities.order(:title).each do |city|
      city_breweries_count = city.breweries.count
 %>
 
   <% if city_breweries_count > 0 %>

       <% if cities_count > 0 %>
         &bull;
       <% end %>
 
       <%= link_to_city( city ) %>
       <% if city_breweries_count > 1 %>
         <span class='region-key'>
           (<%= city_breweries_count %>)
         </span>
       <% end %>
   <% cities_count +=1
      end %>

<% end %>
</p>

