
<h3>Countries</h3>

<table>
<% @countries.each do |country| %>



<% count = country.beers.count
   if count > 0 %>
<tr>
  <td>
    <span class='country-key'><%= country.key %></span>
    <%= image_tag_for_country( country ) %>
    <%= link_to country.title, short_country_path( country ) %>
  </td>
</tr>

<tr>
  <td>
    <% country.beers.each_with_index do |beer,i| %>
       <% if i > 0 %>
         &bull; 
       <% end %>
       <%= link_to beer.title, beer_path( beer.id ) %>
    <% end %>
    <span class="beer-count">(<%= count %>)</span>
  </td>
</tr>

<% breweries_count = country.breweries.count
   if breweries_count > 0 %>
<tr>
  <td>
    <% country.breweries.each_with_index do |brewery,i| %>
       <% if i > 0 %>
         &bull; 
       <% end %>
       <%= brewery.title %>
    <% end %>
    <span class="beer-count">(<%= breweries_count %>)</span>
  </td>
</tr>
<% end %>

<% end %>

<% end %>
</table>