
<h3><%= @breweries.count %> Breweries</h3>

<table>
<% @breweries.each do |brewery| %>
<tr>
  <td class='brewery-key'><%= brewery.key %></td>

<% if signed_in? %>
  <td>
     <%= link_to 'Add', add_brewery_to_user_path( brewery.id, current_user_id ), class: 'btn' %>
  </td>
<% end %>

  <td>
    <%= brewery.title %>
    <% if brewery.synonyms.present? %>
       | <%= brewery.synonyms %>
    <% end %>
    
<% if brewery.tags.count > 0 %>
    <span class='tags'>
    <% brewery.tags.each_with_index do |tag,i| %>
      <% if i > 0 %>
         &bull; 
       <% end %>
       <%= tag.key %>
    <% end %>
    </span>
<% end %>
    
  </td>
  <td>
    <% if brewery.city.present? %>
      <%= brewery.city.title %>
    <% else %>
      -
    <% end %>
     /
    <% if brewery.region.present? %>
      <%= brewery.region.title %>
    <% else %>
      -
    <% end %>
     /
     <%= image_tag_for_country( brewery.country ) %>
     <%= link_to brewery.country.title, short_country_path( brewery.country ) %>
   </td>
</tr>

<tr>
  <td></td>
  <td colspan='2'>
    <%= render_beers( brewery.beers ) %>
  </td>
</tr>

<% end %>
</table>

