
<h3><%= Brewery.count %> Breweries</h3>
<!-- todo: add display/page count e.g. 25 -->

<p>
  Sort By: <%= link_to 'Key A-Z', breweries_path( order: 'key' ) %>
          &bull;
        <%= link_to 'Title A-Z', breweries_path( order: 'title' ) %>
          &bull;
        <%= link_to 'Production/Capacity (in hl)', breweries_path( order: 'hl' ) %>
</p>


<table>
<% @breweries.each do |brewery| %>
<tr>
  <td class='brewery-key'><%= brewery.key %></td>

<% if signed_in? %>
  <td>
     <%= link_to 'Add', add_brewery_to_user_path( brewery.id, current_user_id ), class: 'btn' %>
  </td>
<% end %>

  <td>
    <%= link_to brewery.title, brewery_path( brewery.id ) %>
    <% if brewery.synonyms.present? %>
       | <%= brewery.synonyms %>
    <% end %>

    <%= render_brewery_tags( brewery ) %>

  </td>
  <td>
    <% if brewery.city.present? %>
      <%= brewery.city.title %>
    <% else %>
      -
    <% end %>
     /
    <% if brewery.region.present? %>
      <%= brewery.region.title %>
    <% else %>
      -
    <% end %>
     /
     <%= image_tag_for_country( brewery.country ) %>
     <%= link_to brewery.country.title, short_country_path( brewery.country ) %>
   </td>
</tr>

<tr>
  <td></td>
  <td colspan='2'>
    <%= render_beers( brewery.beers ) %>
  </td>
</tr>

<% end %>
</table>

