
<% brewery = @brewery
 %>


<span class='brewery-key'><%= brewery.key %></span>

<h3 style='margin-top: 0;'>
  <%= brewery.title %>

  <% if brewery.synonyms.present? %>
    • <%= brewery.synonyms.gsub( '|', ' • ') %>
  <% end %>

  <% if brewery.founded.present? %>
    | <%= brewery.founded %> 
  <% end %>
  
  ||
  <%= image_tag_for_country( brewery.country ) %>
  <%= link_to brewery.country.title, short_country_path( brewery.country ) %>
  

<% if brewery.tags.count > 0 %>
  <span class='tags tag-list'>
  <%= render_tags( brewery.tags ) %>
  </span>
<% end %>

</h3>

<p>
  <%= brewery.address %>
</p>

<% if brewery.web.present? %>
  <p class='city-count'>
    <%= link_to brewery.web, "http://#{brewery.web}" %>
  </p>
<% end %>


<hr>

<% if brewery.region.present? %>
  <%= render_breweries_for_region( brewery.region ) %>
<% else %>
  <%= render_breweries_for_country( brewery.country ) %>
<% end %><!-- if brewery.region.present? -->



<hr>

<p>
  <% if brewery.city.present? %>
      <%= brewery.city.title %>
  <% else %>
      -
  <% end %>
    /
    <% if brewery.region.present? %>
      <%= brewery.region.title %>
    <% else %>
      -
    <% end %>
    /
  <%= image_tag_for_country( brewery.country ) %>
  <%= link_to brewery.country.title, short_country_path( brewery.country ) %>
</p>
