<% brands = @brands
 %>
 
<h3><%= Brand.count %> Brands</h3>


<table>
<% brands.each do |brand| %>
<tr>
  <td class='beer-key'><%= brand.key %></td>
    
  <td><%= brand.title %>
     <% if brand.synonyms.present? %>
       | <%= beer.synonyms %>
     <% end %>
     
     //
     <% if brand.brewery.present? %>
       <%= link_to_brewery( brand.brewery ) %>
     <% else %>
       -
     <% end %>

  </td>
  <td>
    <% if brand.city.present? %>
      <%= brand.city.title %>
    <% else %>
      -
    <% end %>
    /
    <% if brand.region.present? %>
      <%= link_to_region( brand.region ) %>
    <% else %>
      -
    <% end %>
    /
    <%= link_to_country( brand.country, flag: true ) %>
   </td>
</tr>

<% end %>
</table>
