
<h3><%= @beers.count %> Beers</h3>

<table>
<% @beers.each do |beer| %>
<tr>
  <td class='beer-key'><%= beer.key %></td>
  
<% if signed_in? %>
  <td>
     <%= link_to 'Add', add_beer_to_user_path( beer.id, current_user_id ), class: 'btn' %>
  </td>
<% end %>
  
  <td><%= link_to beer.title, beer_path( beer.id ) %>
     <% if beer.synonyms.present? %>
       | <%= beer.synonyms %>
     <% end %>
     /
     <% if beer.abv.present? %>
       <%= beer.abv %>
     <% else %>
       -
     <% end %>
      %
     <% if beer.plato.present? %>
     &bull; <%= beer.plato %>°
     <% end %>
     
     //
     <% if beer.brewery.present? %>
       <%= beer.brewery.title %>
     <% else %>
       -
     <% end %>
     
<% if beer.tags.count > 0 %>
    <br>
    <span class='tags'>
    <% beer.tags.each_with_index do |tag,i| %>
      <% if i > 0 %>
         &bull; 
       <% end %>
       <%= tag.key %>
    <% end %>
    </span>
<% end %>
     
  </td>
  <td>
    <% if beer.city.present? %>
      <%= beer.city.title %>
    <% else %>
      -
    <% end %>
    /
    <% if beer.region.present? %>
      <%= beer.region.title %>
    <% else %>
      -
    <% end %>
    /
     <%= image_tag_for_country( beer.country ) %>
     <%= beer.country.title %>
   </td>
</tr>

<% end %>
</table>