
<% brewery = @brewery
 %>


<span class='brewery-key'><%= brewery.key %></span>

<h3 style='margin-top: 0;'>
  <%= brewery.title %>

  <% if brewery.synonyms.present? %>
    • <%= brewery.synonyms.gsub( '|', ' • ') %>
  <% end %>

  <% if brewery.founded.present? %>
    | <%= brewery.founded %> 
  <% end %>
  
  ||
  <%= link_to_country( brewery.country, flag: true ) %>


<% if brewery.tags.count > 0 %>
  <span class='tags tag-list'>
  <%= render_tags( brewery.tags ) %>
  </span>
<% end %>

</h3>

<p>
  <%= brewery.address %>
</p>

<% if brewery.web.present? %>
  <p class='city-count'>
    <%= link_to brewery.web, "http://#{brewery.web}" %>
  </p>
<% end %>


<!-- add all beers -->

<hr>
<ul>
  <% brewery.beers.each do |beer| %>
    <li>
       <%= link_to_beer( beer ) %>

     <% if beer.synonyms.present? %>
       &bull; <%= beer.synonyms %>
     <% end %>
     /
     <% if beer.abv.present? %>
       <%= beer.abv %>
     <% else %>
       -
     <% end %>
      %
     <% if beer.plato.present? %>
      / <%= beer.plato %>°
     <% end %>

<% if beer.tags.count > 0 %>
     /
    <span class='tags'>
    <% beer.tags.each_with_index do |tag,i| %>
      <% if i > 0 %>
         &bull; 
      <% end %>
      <%= tag.key %>
    <% end %>
    </span>
<% end %>


       
    </li>
  <% end %>
</ul>


<hr>

<% if brewery.region.present? %>
  <%= render_breweries_for_region( brewery.region ) %>
<% else %>
  <%= render_breweries_for_country( brewery.country ) %>
<% end %><!-- if brewery.region.present? -->



<hr>

<p>
  <% if brewery.city.present? %>
      <%= brewery.city.title %>
  <% else %>
      -
  <% end %>
    ›
    <% if brewery.region.present? %>
      <%= link_to_region( brewery.region ) %>
    <% else %>
      -
    <% end %>
    ›
    <%= link_to_country( brewery.country ) %>
</p>
