<!DOCTYPE html>
<html>
<head>
  <title>Prost</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


 <p>
  <%= link_to 'Countries', countries_path() %>  &bull;
  <%= link_to 'Beers', beers_path() %>
 </p>


<%= yield %>


<div class='version'>
  <%= powered_by %>
</div>

</body>
</html>
